MONGODB_CONTAINER=mongo-container

MONGODB_HOST=mongo
MONGODB_REPL=repl
MONGODB_PORT=13188
MONGODB_NAME=app
MONGODB_USER=**MONGODB_USER**
MONGODB_PASS=**MONGODB_PASSWORD**

ME_CONTAINER=mongo-express-container

ME_CONFIG_BASICAUTH_USERNAME=**MONGO_EXPRESS_USERNAME**
ME_CONFIG_BASICAUTH_PASSWORD=**MONGO_EXPRESS_PASSWORD**